<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendertestapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".security.SecurityShiftCActivity"></activity>
        <activity android:name=".security.SecurityShiftBActivity" />
        <activity android:name=".security.SecurityShiftAActivity" />
        <activity android:name=".cmtce.CMtceShiftCActivity" />
        <activity android:name=".cmtce.CMtceShiftBActivity" />
        <activity android:name=".cmtce.CMtceShiftAActivity" />
        <activity android:name=".plant.PlantShiftCActivity" />
        <activity android:name=".plant.PlantShiftBActivity" />
        <activity android:name=".plant.PlantShiftAActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShiftScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>